<div class="header">
    
    <div class="fix-header">
       
        <div class="fix-container-1200">
            <div class="fix-header-btns">
                <a class="fix-header-btn"  href="https://dianvs.com/download">登录/注册</a>
                <a class="fix-header-btn" href="https://dianvs.com/download">申请体验账号</a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="header-container-1200">
        <img src="{{site.baseurl}}/assets/header/logo.png" class="header-logo"  href="https://dianvs.com">
        <div class="header-menus">
            <a class="header-menu" href="https://dianvs.com">首页</a>
            <a class="header-menu" href="https://doc.dianvs.com">使用教程</a>
            <a class="header-menu-block" href="https://dianvs.com/download">下载</a>
        </div>
        </div>
    </div>
</div>

<style>

.fix-header{
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    position: sticky;
    
    left: 0;
    top:0;
   

    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

.fix-container-1200{
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 46px;

     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.fix-header-btns{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.fix-header-btn{
    height: 30px;
    border: 1px solid #366FE0;
    border-radius: 15px;

    padding: 0 14px;

    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #366FE0;
    line-height: 30px;

    margin-left: 10px;

    /*text-underline: none;*/
    text-decoration: none;
}

.header{
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);

    position: relative;
    /* z-index: 1; */

}


.header-container-1200{
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 88px;

     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header-logo{
    width: 200px;
        height: 73px;
}

.header-menus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-menu{

    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #7C808C;
    line-height: 88px;

    height: 88px;

    padding: 0 19px;

    text-decoration: none;
}

    .header-menu-block{
        width: 95px;
        height: 88px;
        background: #366FE0;

        font-size: 18px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 22px;

        display: flex;
        justify-content: center;
        align-items: center;


        /*text-underline: none;*/

        text-decoration: none;
    }


</style>