<div class="body-nav">
	<div class="page_nav">

		<!-- 使用教程 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">使用教程</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/1.html">安装店卫士</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/2.html">注册店卫士</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name"
						href="{{site.baseurl}}/doc/dianvsandluminati.html">店卫士如何配置luminati</a>
				</div>
			</div>
		</div>
		<!-- 使用教程 end -->

		<!-- 业务知识 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">使用教程</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/3.html">跨境电商企业为什么都需要用店卫士</a>
				</div>
			</div>
		</div>
		<!-- 业务知识 end -->

		<!-- 防关联技术 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">防关联技术</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/10.html">跨境防关联，看这一篇就够了</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/20.html">跨境店铺防关联-储存选项</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/21.html">跨境店铺防关联-时区篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/22.html">跨境店铺防关联-硬件指纹：WebGL篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/23.html">跨境店铺防关联-硬件指纹：AudioContext</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/24.html">跨境防关联-硬件指纹:
						Canvas篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/25.html">跨境防关联-媒体设备篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/26.html">跨境防关联-javascript篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/27.html">跨境店铺防关联-字体篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/28.html">跨境店铺防关联-地理位置</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/29.html">跨境店铺防关联-WebRTC篇</a>
				</div>
			</div>
		</div>
		<!-- 防关联技术 end -->

	</div>
</div>
<!-- body nav -->
