<div class="body-nav">
	<div class="page_nav">

		<!-- 使用教程 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">使用教程</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/1.html">安装店卫士</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/2.html">注册店卫士</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name"
						href="{{site.baseurl}}/doc/dianvsandluminati.html">店卫士如何配置luminati</a>
				</div>
			</div>
		</div>
		<!-- 使用教程 end -->

		<!-- 业务知识 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">使用教程</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/3.html">跨境电商企业为什么都需要用店卫士</a>
				</div>
			</div>
		</div>
		<!-- 业务知识 end -->

		<!-- 防关联技术 start -->
		<div class="page_nav_sub">
			<a class="page_nav_sub_name" href="">防关联技术</a>
			<div class="page_nav">
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/10.html">跨境防关联，看这一篇就够了</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/20.html">跨境店铺防关联-储存选项</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/21.html">跨境店铺防关联-时区篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/22.html">跨境店铺防关联-硬件指纹：WebGL篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/23.html">跨境店铺防关联-硬件指纹：AudioContext</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/24.html">跨境防关联-硬件指纹:
						Canvas篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/25.html">跨境防关联-媒体设备篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/26.html">跨境防关联-javascript篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/27.html">跨境店铺防关联-字体篇</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/28.html">跨境店铺防关联-地理位置</a>
				</div>
				<div class="page_nav_sub">
					<a class="page_nav_sub_name" href="{{site.baseurl}}/doc/29.html">跨境店铺防关联-WebRTC篇</a>
				</div>
			</div>
		</div>
		<!-- 防关联技术 end -->

	</div>
</div>
<!-- body nav -->


<script>
	window.addEventListener('load',() => {
		var pathname = window.location.pathname;

		document.querySelectorAll('a').forEach(el => {
			// console.log();
			if (!el.attributes['href'].value) {
				el.href = 'javascript:void(0);'
			}
		})

		document.querySelectorAll('.page_nav').forEach(el => {
			// console.log(el)
			let hasSub = el.querySelectorAll('.page_nav');
			if (hasSub.length) {
				return
			}

			el.parentElement.addEventListener('click', (e) => {
				// console.log(e);
				// console.log(e.currentTarget);
				let nel = e.currentTarget;
				console.log(nel.getAttribute('class'))
				if (nel.getAttribute('class').indexOf('opened') > -1) {
					nel.setAttribute('class', `page_nav_sub closed`);
				} else {
					nel.setAttribute('class', `page_nav_sub opened`);
				}
			})

			el.querySelectorAll('a').forEach(a_el => {
				if (a_el.href.endsWith(pathname)) {
					let pNav = a_el.parentElement.parentElement.parentElement;
					if (pNav.getAttribute('class').indexOf('page_nav_sub') > -1) {
						let classes = pNav.getAttribute('class');
						pNav.setAttribute('class', `${classes} opened`);
					}
				} else {
					let pNav = a_el.parentElement.parentElement.parentElement;
					let classes = pNav.getAttribute('class');
					pNav.setAttribute('class', `${classes} closed`);
				}
			});

		})
		console.log('init')
	}, false)

</script>

<style>

	.body-nav {
		width: 266px;

		display: block;
		min-height: 100px;

		flex-grow: 0;
		flex-shrink: 0;

		padding: 50px 9px;
	}

	.page_nav {
		border-top: 1px solid #e9e9e9;
	}

	.page_nav {
		border-top: 1px solid #e9e9e9;
	}

	.page_nav_item {

	}

	.page_nav_label {
		height: 50px;

		font-size: 18px;
		font-weight: bold;
		color: #333333;
		line-height: 79px;

		padding-left: 20px;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: space-between;

		border-bottom: 1px solid #e9e9e9;

		cursor: pointer;

	}

	.page_nav_ico {
		width: 17px;
		height: 9px;
	}

	.page_nav_ico_expand {
		width: 17px;
		height: 9px;

		transform: rotate(180deg);
	}

	.page_nav_sub {
		border-bottom: 1px solid #e9e9e9;
	}

	.page_nav_sub_name {
		width: 300px;
		min-height: 36px;
		background: #ffffff;
		border-radius: 3px;

		position: relative;

		white-space: normal;
		word-break: break-all;

		font-size: 14px;
		color: #999999;
		line-height: 20px;

		padding: 8px 40px;

		display: flex;
	}

	.page_nav_sub_name:before {
		content: ' ';
		display: block;
		width: 6px;
		height: 6px;
		background: #999999;

		flex-shrink: 0;

		border-radius: 3px;

		position: absolute;
		left: 20px;
		top: 16px;
	}

	.page_nav_sub_name_active {
		width: 248px;
		height: 36px;
		background: #F0F7FF;
		border-radius: 3px;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		font-size: 14px;
		color: #4685CE;
		line-height: 78px;

		padding-left: 40px;

		margin: 7px 0;
	}


	.page_nav_sub_name_active:before {
		content: ' ';
		display: block;
		width: 6px;
		height: 6px;
		background: #4685CE;

		margin-right: 9px;

		flex-shrink: 0;
		border-radius: 3px;
	}


	.page_nav .page_nav {
		padding-left: 20px;
		display: none;
	}

	.page_nav .page_nav .page_nav_sub_name {
		width: 280px;
	}

	.page_nav_sub.opened .page_nav {
		display: block;
	}

	.page_nav_sub.opened > .page_nav_sub_name:after {
		content: ' ';
		display: block;

		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid black;

		flex-shrink: 0;

		border-radius: 3px;

		position: absolute;
		right: 60px;
		top: 16px;
	}

	.page_nav_sub.closed > .page_nav_sub_name:after {
		content: ' ';
		display: block;
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid black;

		transform: rotate(180deg);

		flex-shrink: 0;

		border-radius: 3px;

		position: absolute;
		right: 60px;
		top: 16px;
	}


</style>
