<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        <style>
            .body{
                width: 100%;
                background: #efefef;
                min-height: 100vh;

                padding-top: 10px;
                padding-bottom: 40px;


            }
        </style>

    </head>
    <body>

        {%- include header.html -%}

        <div class="body">
            {%- include body-nav.html -%}
        </div>



        {%- include footer.html -%}

    </body>

</html>